.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  gap: 10px;
}

nav button {
  padding: 10px 20px;
  border: none;
  background-color: #5db996;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

nav button:hover {
  background-color: #4a946d;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #5db996;
  color: white;
}

/* Animasi untuk judul */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.title {
  font-family: 'Poppins', sans-serif; /* Font modern dan representatif */
  font-size: 2.5rem;
  font-weight: bold;
  color: #4A90E2; /* Warna biru representatif */
  text-align: center;
  margin-bottom: 20px;
  animation: fadeIn 1s ease-in-out;
}

.title span {
  color: #E94E77; /* Warna aksen untuk bagian 'Clinic Essential' */
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
